name: Release

on: 
    push:
        branches:
            - 'main'
        tags:
            - 'release'

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            